div.slide-show {
    width: 100%;
    height: calc(100% - 90px);
}

div.ss-link-box {
    height: 100%;
    width: calc(100% - 500px);
    position: absolute;
    top: 0px;
    right: 0px;
}

/*Used in ss_image.css and ss_description.css*/
@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}